<h2 mat-dialog-title>Contact form</h2>

<mat-dialog-content>

  <form fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="10px" [formGroup]="contactForm" (ngSubmit)="submitForm()" novalidate class="mat-body-2">

    <mat-form-field fxFlex>
      <input matInput type="text" name="name" [formControl]="contactForm.controls.name" placeholder="Your name" [autofocus]="true" />
      <mat-error *ngIf="contactForm.controls.name.invalid" class="mat-body-1">{{inputError}}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput type="text" name="email" [formControl]="contactForm.controls.email" placeholder="Your email address" />
      <mat-error *ngIf="contactForm.controls.email.invalid" class="mat-body-1">Invalid email address.</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <input matInput type="text" name="header" [formControl]="contactForm.controls.header" placeholder="Email header" />
      <mat-error *ngIf="contactForm.controls.header.invalid" class="mat-body-1">{{inputError}}</mat-error>
    </mat-form-field>

    <mat-form-field fxFlex>
      <textarea matInput type="text" name="message" [formControl]="contactForm.controls.message" placeholder="Email message text"></textarea>
      <mat-error *ngIf="contactForm.controls.message.invalid" class="mat-body-1">{{inputError}}</mat-error>
    </mat-form-field>

    <div>
      <span fxFlex fxHide="true">
        <mat-toolbar class="controls" fxLayout.xs="row wrap" fxLayoutAlign="center center">
          <button mat-button tabindex="-1" [ngClass.xs]="{'full-width': true}" type="submit" [disabled]="contactForm.invalid || contactForm.pristine" attr.aria-label="submit" color="accent">
            <mat-icon class="metarial-icons">done</mat-icon> Submit
          </button>
        </mat-toolbar>
      </span>
    </div>

  </form>

</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="center center">

  <button mat-button tabindex="-1" (click)="submitForm()" [disabled]="contactForm.invalid || contactForm.pristine" matTooltip="Confirm" color="accent">
    <mat-icon class="metarial-icons">done</mat-icon><span [fxHide.xs]="true"> Send Message</span>
  </button>

  <button mat-button tabindex="-1" (click)="closeDialog()" matTooltip="Close">
    <mat-icon class="metarial-icons">close</mat-icon><span [fxHide.xs]="true"> Close</span>
  </button>

</mat-dialog-actions>
