# dependencies
node_modules

# firebase cache
.firebase/

# environment variables
*.env
.*.env

# logs
*.log
public/logs/*
!public/logs/*.gitkeep

# compiled client app
public/src/*.js
public/src/*.js.map
public/src/**/*.js
public/src/**/*.js.map

# compiled client tests
test/client/*.js
test/client/*.js.map
test/client/**/*.js
test/client/**/*.js.map

# build
public/js/*.*
!public/js/.gitkeep
public/webfonts/*.*
!public/webfonts/.gitkeep
public/css/*.css

# compiled client tests
test/unit/*.js
test/unit/*.js.map
test/unit/**/*.js
test/unit/**/*.js.map


