a:hover {
	text-decoration: none;
}

.flex-container {
	display: flex;
	height: 97vh;
	justify-content: center;
	align-items: stretch;
}

.flex-item {
	flex: 1;
	text-align: center;
	vertical-align: center;
	opacity: 0.75;
}

.flex-item:hover {
	opacity: 1;
}

.flex-item img {
	width: 30vw;
	max-width: 40vh;
	height: 30vw;
	max-height: 40vh;
}

.flex-item #badge {
	width: 30vw;
	max-width: 40vh;
	height: auto !important;
}

.flex-item .avatar {
	width: 25px;
	height: 25px;
}

.flex-item table {
	color: #000000;
}
.flex-item tbody {
	text-align: left;
}

@media (max-width: 550px) {
	#codewars, #codepen {
		display: none;
	}
}

@media (min-width: 551px) {
	#codewars, #codepen {
		display: block;
	}
}
