:host {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  max-width: 100vw;
  height: auto !important;
}

.scrollable {
  max-height: 250px;
  overflow-y: scroll;
}

.marged {
  margin: 0.5em;
}
