<div fxFlex="100" fxLayout="row" fxLayoutAlign="stretch" *ngIf="data$ | async as data">
  <div fxFlex="1 1 auto" fxFlex.xs="100" fxLayout="row wrap">
    <mat-card fxFlex="100" class="marged" *ngIf="data.github">
      <mat-card-header>
        <div mat-card-avatar>
          <img
            [ngStyle]="{ height: '50px', width: 'auto!important' }"
            [src]="data.github.avatar_url"
          />
        </div>
        <mat-card-title> {{ data.github.login }}</mat-card-title>
        <mat-card-subtitle matTooltip="Current hireable status">
          <div *ngIf="data.github.hireable">
            HIREABLE
          </div>

          <span *ngIf="!data.github.hireable">
            NOT HIREABLE
          </span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="row wrap">
        <div fxFlex="100" fxLayout="row wrap">
          <span fxFlex="100">Location: {{ data.github.location }}</span>

          <span fxFlex="100" *ngIf="data.github.email">Email: {{ data.github.email }}</span>

          <span fxFlex="100">Created: {{ data.github.created_at | date }}</span>

          <span fxFlex="100">Updated: {{ data.github.updated_at | date }}</span>

          <span fxFlex="100">Gists: {{ data.github.public_gists }}</span>

          <span fxFlex="100">Repos: {{ data.github.public_repos }}</span>
        </div>

        <div
          fxFlex="100"
          *ngIf="data.github.company"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="15px"
        >
          <h4 fxFlex="100">Organizations</h4>

          <span
            fxFlex="100"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="15px"
            *ngIf="githubOrgs$ | async as orgs"
          >
            <a
              *ngFor="let org of orgs"
              [href]="org.url"
              target="_blank"
              matTooltip="{{ org.login }}"
            >
              <img
                [ngStyle]="{ height: '42px', width: 'auto!important', 'border-radius': '5px' }"
                [src]="org.avatar_url"
              />
            </a>
          </span>
        </div>

        <div
          fxFlex="100"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="15px"
          *ngIf="data.profiles"
        >
          <h4 fxFlex="100">Profiles</h4>

          <a
            *ngFor="let profile of data.profiles"
            [href]="profile.link"
            [title]="profile.name"
            target="_blank"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="15px"
          >
            <img
              [ngStyle]="{ height: '46px', width: 'auto!important' }"
              [src]="profile.imgRef"
              (load)="imgLoaded(profile.name)"
              (error)="imgError(profile.name)"
              (showImage)="showImage(profile.name)"
            />
          </a>
        </div>

        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
          <h4 fxFlex="100">Languages</h4>

          <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
            <mat-grid-list
              fxHide
              fxShow.gt-xs="true"
              fxFlex="100"
              *ngIf="languageIcon$(data.githubLanguagesKeys) | async as githubLangs"
              [cols]="data.githubLanguagesKeys.length"
              rowHeight="1:1"
            >
              <mat-grid-tile *ngFor="let githubLang of githubLangs" [matTooltip]="githubLang.key">
                <img
                  [src]="githubLang.url"
                  [ngStyle]="{
                    'max-height': '100%',
                    'max-width': '100%',
                    height: 'auto!important',
                    width: 'auto!important'
                  }"
                  (load)="imgLoaded(githubLang.key, true)"
                  (error)="imgError(githubLang.key, true)"
                  (showImage)="showImage(githubLang.key, true)"
                />
                <mat-grid-tile-footer>
                  <span
                    [ngStyle]="{ width: '100%', 'text-align': 'center', 'font-weight': 'bold' }"
                  >
                    {{ data.githubLanguages[githubLang.key] }}
                    <br />
                    {{ data.githubLanguagesRate[githubLang.key] }}%
                  </span>
                </mat-grid-tile-footer>
              </mat-grid-tile>
            </mat-grid-list>

            <span
              fxHide
              fxShow.lt-sm="true"
              fxFlex="0 1 auto"
              *ngFor="let lang of data.githubLanguagesKeys"
              [ngStyle]="{ 'text-align': 'center' }"
            >
              {{ lang }}
              <br />
              {{ data.githubLanguages[lang] }}
              <br />
              {{ data.githubLanguagesRate[lang] }}%
            </span>
          </div>
        </div>

        <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
          <h4 fxFlex="100">Activity</h4>

          <div fxFlex="100" fxLayout="row wrap" class="scrollable" appAutoscroll>
            <small
              fxFlex="100"
              *ngFor="let event of publicEvents$ | async"
              fxLayout="row wrap"
              fxLayoutAlign="start center"
            >
              <mat-icon>event_note</mat-icon> {{ event.type }} - {{ event.created_at | date }}
            </small>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          *ngIf="data.github.hireable"
          mat-icon-button
          (click)="showContactDialog()"
          color="primary"
          matTooltip="Send email"
        >
          <mat-icon class="material-icons">email</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="marged" fxFlex="400px" fxShow fxHide.lt-md *ngIf="data.github">
    <mat-tree [dataSource]="treeDataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>

        <div
          fxFlex="100"
          fxLayout="row wrap"
          faLayoutAlign="start center"
          fxLayoutGap="15px"
          [ngStyle]="{ 'border-bottom': '1px #000000 dotted', padding: '5px 0 5px 0' }"
        >
          <a
            [ngStyle]="{ padding: '0 10px 0 10px' }"
            [href]="node.link"
            [title]="node.name"
            target="_blank"
            fxLayout="row"
            fxLayoutAlign="center center"
            fxLayoutGap="15px"
          >
            <img
              [ngStyle]="{ height: '46px', width: 'auto!important' }"
              [src]="node.imgRef"
              (load)="imgLoaded(node.name)"
              (error)="imgError(node.name)"
              (showImage)="showImage(node.name)"
            />
          </a>

          <span fxFlex="10px"></span>

          <a
            mat-icon-button
            *ngIf="node.urls"
            [href]="node.urls.web"
            [disabled]="!node.urls.web"
            [title]="node.name"
            fxFlexAlign="center"
            [ngStyle]="{ 'text-align': 'center' }"
            target="_blank"
          >
            <mat-icon class="material-icons">open_in_new</mat-icon>
          </a>

          <a
            mat-icon-button
            *ngIf="node.urls"
            [href]="node.urls.android"
            [disabled]="!node.urls.android"
            title="android link"
            fxFlexAlign="center"
            [ngStyle]="{ 'text-align': 'center' }"
            target="_blank"
          >
            <mat-icon class="material-icons">android</mat-icon>
          </a>

          <a
            mat-icon-button
            *ngIf="node.urls"
            [href]="node.urls.repo"
            [disabled]="!node.urls.repo"
            title="repo link"
            fxFlexAlign="center"
            [ngStyle]="{ 'text-align': 'center' }"
            target="_blank"
          >
            <mat-icon class="material-icons">code</mat-icon>
          </a>

          <span fxFlex="100" fxFlexAlign="center" [ngStyle]="{ 'text-align': 'left' }">
            {{ node.name }}
          </span>
        </div>
      </mat-tree-node>

      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node matTreeNodePadding *matTreeNodeDef="let node; when: hasChild">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>

        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
  </div>
</div>
