<div
  fxLayout="row"
  [ngStyle]="{ height: '100%' }"
  fxLayoutAlign="stretch"
  *ngIf="data$ | async as data"
>
  <div fxFlex="1 1 auto" fxFlex.xs="100" fxLayout="row wrap">
    <mat-card
      fxFlex="100"
      class="marged"
      *ngIf="data.github"
      [ngStyle]="{ 'min-height': '100%', height: 'auto!important', width: '100%' }"
    >
      <mat-card-header>
        <div mat-card-avatar>
          <img
            [ngStyle]="{ height: '50px', width: 'auto!important', 'border-radius': '5px' }"
            [src]="data.github?.avatar_url"
          />
        </div>
        <mat-card-title> {{ data.github?.login }}</mat-card-title>
        <mat-card-subtitle matTooltip="Current hireable status">
          <div *ngIf="data.github?.hireable">HIREABLE</div>

          <span *ngIf="!data.github?.hireable"> NOT HIREABLE </span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="row wrap">
        <mat-chip-list>
          <mat-chip color="primary" *ngIf="data.github?.location" [selectable]="false" disabled>
            <mat-icon color="primary">my_location</mat-icon>
            &nbsp; Location: {{ data.github?.location }}
          </mat-chip>

          <mat-chip color="primary" *ngIf="data.github?.email" [selectable]="false" disabled>
            Email: {{ data.github?.email }}
          </mat-chip>

          <mat-chip color="primary" [selectable]="false" disabled>
            <mat-icon color="primary">library_books</mat-icon>
            &nbsp; Gists: {{ data.github?.public_gists }}
          </mat-chip>

          <mat-chip color="primary" [selectable]="false" disabled>
            <mat-icon color="primary">code</mat-icon>
            &nbsp; Repos: {{ data.github?.public_repos }}
          </mat-chip>

          <mat-chip color="primary" [selectable]="false" disabled>
            <mat-icon color="primary">date_range</mat-icon>
            &nbsp; Created: {{ data.github?.created_at | date }}
          </mat-chip>

          <mat-chip color="primary" [selectable]="false" disabled>
            <mat-icon color="primary">update</mat-icon>
            &nbsp; Updated: {{ data.github?.updated_at | date }}
          </mat-chip>
        </mat-chip-list>

        <div fxFlex="100" [ngStyle]="{ margin: '16px 0 0 0' }">
          <mat-divider></mat-divider>
        </div>

        <div
          fxFlex="100"
          *ngIf="data.github?.company"
          fxLayout="row wrap"
          fxLayoutAlign="start center"
          fxLayoutGap="16px"
          [ngStyle]="{ padding: '16px 0 0 0' }"
        >
          <div
            fxFlex="100"
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="16px"
            *ngIf="githubOrgs$ | async as orgs"
            [ngStyle]="{ padding: '0 16px' }"
          >
            <a
              *ngFor="let org of orgs"
              [href]="org.url"
              target="_blank"
              matTooltip="{{ org.login }}"
            >
              <img
                [ngStyle]="{ height: '42px', width: 'auto!important', 'border-radius': '5px' }"
                [src]="org.avatar_url"
              />
            </a>
          </div>

          <h3 fxFlex="100" fxLayoutAlign="end">Organizations</h3>
        </div>

        <div fxFlex="100">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="100" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-profiles [profiles]="data.profiles"></app-profiles>
        </div>

        <div fxFlex="100">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="100" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-languages
            [githubLanguages]="data.githubLanguages"
            [githubLanguagesKeys]="data.githubLanguagesKeys"
            [githubLanguagesRate]="data.githubLanguagesRate"
          ></app-languages>
        </div>

        <div fxFlex="100">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="100" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-activity [publicEvents]="publicEvents$ | async"></app-activity>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          *ngIf="data.github?.hireable"
          mat-icon-button
          (click)="showContactDialog()"
          color="primary"
          matTooltip="Send email"
        >
          <mat-icon class="material-icons">email</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
