<div
  fxLayout="row"
  [ngStyle]="{ height: '100%' }"
  fxLayoutAlign="stretch"
  *ngIf="data$ | async as data"
>
  <div fxFlex="1 1 auto" fxFlex.xs="100" fxLayout="row wrap">
    <mat-card
      fxFlex="100"
      class="marged"
      *ngIf="data.github"
      [ngStyle]="{ 'min-height': '100%', height: 'auto!important', width: '100%' }"
    >
      <mat-card-header>
        <div mat-card-avatar>
          <img
            [ngStyle]="{ height: '50px', width: 'auto!important', 'border-radius': '5px' }"
            [src]="data.github?.avatar_url"
          />
        </div>
        <mat-card-title> {{ data.github?.login }}</mat-card-title>
        <mat-card-subtitle matTooltip="Current hireable status">
          <div *ngIf="data.github?.hireable">HIREABLE</div>

          <span *ngIf="!data.github?.hireable"> NOT HIREABLE </span>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="row wrap">
        <div fxFlex="100" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-status-badges [github]="data.github"></app-status-badges>
        </div>

        <div fxFlex="100" [ngStyle]="{ margin: '16px 0 0 0' }">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="100" *ngIf="data.github?.company" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-organizations [githubOrgs]="githubOrgs$ | async"></app-organizations>
        </div>

        <div fxFlex="100">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="100" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-profiles [profiles]="data.profiles"></app-profiles>
        </div>

        <div fxFlex="100">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="100" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-languages
            [githubLanguages]="data.githubLanguages"
            [githubLanguagesKeys]="data.githubLanguagesKeys"
            [githubLanguagesRate]="data.githubLanguagesRate"
          ></app-languages>
        </div>

        <div fxFlex="100">
          <mat-divider></mat-divider>
        </div>

        <div fxFlex="100" [ngStyle]="{ padding: '16px 0 0 0' }">
          <app-activity [publicEvents]="publicEvents$ | async"></app-activity>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button
          *ngIf="data.github?.hireable"
          mat-icon-button
          (click)="showContactDialog()"
          color="primary"
          matTooltip="Send email"
        >
          <mat-icon class="material-icons">email</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
