<div class="flex-container">
	<a class="flex-item" id="codewars" href="{{links.codewars}}" target=_blank>
		<img src="img/codewars-logo.svg">
		<img id="badge" ng-src="{{'https://www.codewars.com/users/'+userConfig.username.codewars+'/badges/large'}}" image-on-load ng-show="show.codepen.badge" class="hidable hidable-animate">
	</a>
	<a class="flex-item" id="github" href="{{links.github}}" target=_blank>
		<img src="img/github-logo.svg">
		<table class="table table-condensed">
			<thead>
				<tr>
					<td colspan="2" ng-class="{'success': data.github.hireable, 'danger': !data.github.hireable}">
						{{data.github.login}} is 
						<span ng-if="data.github.hireable">HIREABLE</span>
						<span ng-if="!data.github.hireable">NOT HIREABLE</span>
					</td>
				</tr>
			</thead>
			<tbody ng-show="data.github.bio" class="hidable animate-hidable">
				<tr>
					<td>Location</td>
					<td>{{data.github.location}}</td>
				</tr>
				<tr ng-if="data.github.email">
					<td>Email</td>
					<td>{{data.github.email}}</td>
				</tr>
				<tr ng-if="data.github.company">
					<td>Company</td>
					<td>{{data.github.company}}</td>
				</tr>
				<tr>
					<td>Gists</td>
					<td>{{data.github.public_gists}}</td>
				</tr>
				<tr>
					<td>Repos</td>
					<td>{{data.github.public_repos}}</td>
				</tr>
				<tr ng-if="data.github.bio">
					<td colspan="2">{{data.github.bio}}</td>
				</tr>
				<tr>
					<td>
						<span class="text-label">Created</span>
					</td>
					<td>{{data.github.created_at | date}}</td>
				</tr>
				<tr>
					<td>
						<span class="text-label">Updated</span>
					</td>
					<td>{{data.github.updated_at | date}}</td>
				</tr>
			</tbody>
		</table>
	</a>
	<a class="flex-item" id="codepen" href="{{links.codepen}}" target=_blank>
		<img src="img/codepen-logo.svg">
		<table class="table table-condensed">
			<thead>
				<tr>
					<td colspan="2">{{data.github.login}}</td>
				</tr>
			</thead>
			<tbody ng-show="data.codepan.location || data.codepen.bio" class="hidable animate-hidable">
				<tr ng-if="data.codepen.location">
					<td>Location</td>
					<td>{{data.codepen.location}}</td>
				</tr>
				<tr ng-if="data.codepen.bio">
					<td colspan="2">{{data.codepen.bio}}</td>
				</tr>
			</tbody>
		</table>
	</a>
</div>
<div id="apps-reference" ng-show="userConfig.apps.length > 0" class="hidable animate-hidable">
	<a id="apps-toggler" href="" ng-click="toggleApps()" ng-class="{'apps-in': show.apps}">
		<i class="fa fa-arrow-up fa-3x transparent hidable animate-hidable" ng-show="!show.apps"></i>
		<i class="fa fa-arrow-up fa-3x transparent hidable animate-hidable" ng-show="!show.apps"></i>
		<i class="fa fa-arrow-down fa-3x transparent hidable animate-hidable" ng-show="show.apps"></i>
		<i class="fa fa-arrow-down fa-3x transparent hidable animate-hidable" ng-show="show.apps"></i>
		<i class="fa fa-cogs fa-3x"></i> 
		<i class="fa fa-arrow-up fa-3x transparent hidable animate-hidable" ng-show="!show.apps"></i>
		<i class="fa fa-arrow-up fa-3x transparent hidable animate-hidable" ng-show="!show.apps"></i>
		<i class="fa fa-arrow-down fa-3x transparent hidable animate-hidable" ng-show="show.apps"></i>
		<i class="fa fa-arrow-down fa-3x transparent hidable animate-hidable" ng-show="show.apps"></i>
	</a>
	<div id="apps-flex-container" ng-show="show.apps" class="hidable animate-hidable">
		<span class="flex-item" ng-repeat="app in userConfig.apps">
			<div class="media">
				<div class="media-left">
					<a href="{{app.urls.web}}" target=_blank>
						<img class="media-object" ng-src="{{app.logo}}" title="{{app.name}}, powered by Openshift">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{app.name}}</h4>
					<a class="btn btn-default" ng-if="app.urls.web" href="{{app.urls.web}}" target=_blank><i class="fa fa-globe fa-3x" title="web"></i></a>
					<a class="btn btn-default" ng-if="app.urls.android" href="{{app.urls.android}}" target=_blank><i class="fa fa-android fa-3x" title="download apk"></i></a>
					<a class="btn btn-default" ng-if="app.urls.repo" href="{{app.urls.repo}}" target=_blank><i class="fa fa-github fa-3x" title="repo"></i></a>
				</div>
			</div>
		</span>
	</div>
</div>

<i id="email-form-toggler" class="btn btn-default fa fa-envelope fa-2x" ng-click="toggleEmailForm()" ng-class="{ 'active': show.email_form }"></i>
<span id="email-form" ng-show="show.email_form" class="hidable animate-hidable">

	<div ng-if="emailFormSuccessMessage || emailFormErrorMessage" class="alert alert-dismissible" ng-class="{ 'alert-success': emailFormSuccessMessage,'alert-danger': emailFormErrorMessage}" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{emailFormSuccessMessage}}
		{{emailFormErrorMessage}}
	</div>

	<form name="form" ng-submit="sendMessage(form.$valid)" novalidate>

		<div class="form-group has-feedback" ng-class="{ 'has-error': form.name.$invalid }">
			<input type="name" id="name" class="form-control" placeholder="{{emailFormPlaceholders.name}}" ng-pattern="/^[a-zA-Z]{2,}(\s)?[a-zA-Z]*/" name="name" ng-model="emailFormData.name" novalidate>
			<span class="glyphicon glyphicon-user form-control-feedback"></span>
			<p ng-show="form.name.$invalid || form.name.$pristine || form.name.$viewValue.length === 0" class="help-block">Name should be at least 2 characters long: {{form.name.$viewValue.length}}/2</p>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error': form.email.$invalid }">
			<input type="email" id="email" class="form-control" placeholder="{{emailFormPlaceholders.email}}" ng-pattern="/^[a-zA-Z0-9._%+_-]+@[a-zA-Z0-9.-]/" name="email" ng-model="emailFormData.email" novalidate>
			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
			<p ng-show="form.email.$invalid || form.email.$pristine || form.email.$viewValue.length === 0" class="help-block">Enter a valid email address, please.</p>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error': form.header.$invalid }">
			<input type="header" id="header" class="form-control" placeholder="{{emailFormPlaceholders.header}}" ng-pattern="/^[a-zA-Z\s]{5,}/" name="header" ng-model="emailFormData.header" novalidate>
			<span class="glyphicon glyphicon-header form-control-feedback"></span>
			<p ng-show="form.header.$invalid || form.header.$pristine || form.header.$viewValue.length === 0" class="help-block">Header should be at least 5 characters long: {{form.header.$viewValue.length}}/5</p>
		</div>

		<div class="form-group has-feedback" ng-class="{ 'has-error': form.message.$invalid }">
			<textarea type="text" id="message" class="form-control" placeholder="{{emailFormPlaceholders.message}}" ng-pattern="/(.|\n){75,}/" name="message" ng-model="emailFormData.message" novalidate>
			</textarea>
			<span class="glyphicon glyphicon-file form-control-feedback"></span>
			<p ng-show="form.message.$invalid || form.message.$pristine || form.message.$viewValue.length === 0" class="help-block">Message should be at least 75 characters long: {{form.message.$viewValue.length}}/75</p>
		</div>

		<input class="btn btn-lg btn-primary btn-wide" type="submit" ng-disabled="!emailFormData.email || form.$invalid" value="Send Message"/>
	</form>

</span>
