/* required in case of self hosting of material-design-icons */
	@font-face {
		font-family: 'Material Icons';
		font-style: normal;
		font-weight: 400;
		src: url(../webfonts/MaterialIcons-Regular.eot); /* For IE6-8 */
		src: local('Material Icons'),
			local('MaterialIcons-Regular'),
			url(../webfonts/MaterialIcons-Regular.woff2) format('woff2'),
			url(../webfonts/MaterialIcons-Regular.woff) format('woff'),
			url(../webfonts/MaterialIcons-Regular.ttf) format('truetype');
	}
	.material-icons {
		font-family: 'Material Icons';
		font-weight: normal;
		font-style: normal;
		font-size: 24px;  /* Preferred icon size */
		display: inline-block;
		line-height: 1;
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;

		/* Support for all WebKit browsers. */
		-webkit-font-smoothing: antialiased;
		/* Support for Safari and Chrome. */
		text-rendering: optimizeLegibility;

		/* Support for Firefox. */
		-moz-osx-font-smoothing: grayscale;

		/* Support for IE. */
		font-feature-settings: 'liga';

		&:hover {
			cursor: default;
		}
	}
	a, button {
		.material-icons {
			&:hover {
				cursor: pointer;
			}
		}
	}
/* required in case of self hosting of material-design-icons */

h1, h2, h3, h4, h5, p {
	&:hover {
		cursor: default;
	}
}

a {
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: none;
	}
}

#img-shrink-container {
	img {
		width: 50%;
		height: auto!important;
	}
}

html {
	max-height: 100vh;
	height: 100vh;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	display: block;
	max-height: 100vh;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	#spinner {
		display: flex;
		position: fixed;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		z-index: 1000;
		background: rgba(0, 0, 0, 0.15);
	}

	root {
		min-height: 100%;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	app-index {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;
		align-items: stretch;
		justify-content: center;
	}
}
