<div fxFlex="100" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
  <div
    fxFlex="1 1 auto"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
    *ngIf="githubOrgs"
    [ngStyle]="{ padding: '0 16px' }"
  >
    <a *ngFor="let org of githubOrgs" [href]="org.url" target="_blank" matTooltip="{{ org.login }}">
      <img
        [ngStyle]="{ height: '42px', width: 'auto!important', 'border-radius': '5px' }"
        [src]="org.avatar_url"
      />
    </a>
  </div>

  <span fxFlex="0 1 auto" fxLayoutAlign="end"> Organizations </span>
</div>
