<span fxFlex="20" fxShow="data.userConfig.apps.length > 0" fxLayout="row wrap" fxLayoutAlign="center stretch" [fxHide.xs]="true" [fxHide.sm]="true" id="img-shrink-container">
	<span fxFlex="90" fxLayout="row wrap" fxLayoutAlign="" *ngFor="let app of data.userConfig.apps">
		<h4 fxFlex="90">{{app.name}}</h4>

		<a fxFlex="90" fxLayout="row" fxLayoutAlign="center center" *ngIf="app.urls.web" href="{{app.urls.web}}" title="web link" target=_blank>
			<img src="{{app.logo}}" title="{{app.name}}">
		</a>
		<a fxFlex="90" fxLayout="row" fxLayoutAlign="center center" *ngIf="!app.urls.web" title="{{app.name}}">
			<img src="{{app.logo}}" title="{{app.name}}">
		</a>

		<span fxFlex="90">
			<a md-icon-button *ngIf="app.urls.web" href="{{app.urls.web}}" title="web link" target=_blank>
				<span class="material-icons">web</span>
			</a>
			<a md-icon-button *ngIf="app.urls.android" href="{{app.urls.android}}" title="android link" target=_blank>
				<span class="material-icons">android</span>
			</a>
			<a md-icon-button *ngIf="app.urls.repo" href="{{app.urls.repo}}" title="repo link" target=_blank>
				<span class="material-icons">code</span>
			</a>
		</span>
	</span>
</span>

<span fxFlex="50" fxLayout="row wrap" fxLayoutAlign="center center">
	<a fxFlex="90" fxLayout="row" fxLayoutAlign="center center" href="{{data.links.github}}" title="Github profile link" target=_blank>
		<img src="img/github-logo.svg">
	</a>
	<div fxFlex="90" fxLayout="row wrap" fxLayoutAlign="center center">
		<div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
			<span fxFlex="0 1 auto">{{data.github.login}} is 
				<span *ngIf="data.github.hireable">HIREABLE</span>
				<span *ngIf="!data.github.hireable">NOT HIREABLE</span>
			</span>
		</div>
		<div fxFlex="100" fxShow="data.github.login" fxLayout="row wrap" fxLayoutAlign="center center">
			<span>
				<span fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>Location</span>
					<span fxFlex>{{data.github.location}}</span>
				</span>
				<span fxFlex="100" *ngIf="data.github.bio" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>{{data.github.bio}}</span>
				</span>
				<span fxFlex="100" *ngIf="data.github.email" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>Email</span>
					<span fxFlex>{{data.github.email}}</span>
				</span>
				<span fxFlex="100" *ngIf="data.github.company" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>Company</span>
					<span fxFlex>{{data.github.company}}</span>
				</span>
				<span fxFlex="100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>Created</span>
					<span fxFlex>{{data.github.created_at | date}}</span>
				</span>
				<span fxFlex="100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>Updated</span>
					<span fxFlex>{{data.github.updated_at | date}}</span>
				</span>
				<span fxFlex="100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>Gists</span>
					<span fxFlex>{{data.github.public_gists}}</span>
				</span>
				<span fxFlex="100" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
					<span fxFlex>Repos</span>
					<span fxFlex>{{data.github.public_repos}}</span>
				</span>
			</span>
		</div>

		<div fxFlex="100" fxShow="data.github.login" fxLayout="row wrap" fxLayoutAlign="center center">
			<span>
				<span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="15px">
					<span fxFlex *ngFor="let lang of data.githubLanguagesKeys">
						{{lang}}
						<br>
						{{data.githubLanguages[lang]}}
					</span>
				</span>
			</span>
		</div>

	</div>
</span>

<span fxFlex="30" fxLayout="row wrap" fxLayoutAlign="center stretch" [fxHide.xs]="true" [fxHide.sm]="true" id="img-shrink-container">
	<a fxFlex="90" fxLayout="row" fxLayoutAlign="center center" href="{{data.links.codepen}}" title="Codepen profile link" target=_blank>
		<img src="img/codepen-logo.svg">
	</a>
	<a fxFlex="90" fxLayout="column" fxLayoutAlign="center center" href="{{data.links.codewars}}" title="Codewars profile link" target=_blank>
		<img src="img/codewars-logo.svg">
		<img *ngIf="data.userConfig.username" src="{{'https://www.codewars.com/users/' + data.userConfig.username.codewars + '/badges/large'}}" [checkImageLoad]="true" (showImage)="showImage('codewars')">
	</a>
	<a fxFlex="90" fxLayout="row" fxLayoutAlign="center center" href="{{data.links.hackerrank}}" title="Hackerrank profile link" target=_blank>
		<img src="img/hackerrank-logo.svg">
	</a>
</span>
