<mat-sidenav-container
  [ngStyle]="{ 'min-height': '100vh', height: '100%', width: '100%' }"
  *ngIf="getTheme$ | async"
>
  <mat-sidenav
    #appSidenav
    mode="over"
    [opened]="sidenavOpened$ | async"
    (closedStart)="sidebarCloseHandler()"
  >
    <app-applications></app-applications>
  </mat-sidenav>

  <mat-sidenav-content
    [ngStyle]="{ overflow: 'hidden', 'min-height': '100vh', height: '100vh', width: '100%' }"
  >
    <div id="progress" *ngIf="showSpinner$ | async">
      <mat-progress-bar mode="indeterminate" aria-label="Application progress bar">
      </mat-progress-bar>
    </div>

    <div class="container">
      <router-outlet></router-outlet>
    </div>

    <div class="sidenav-toggler">
      <button
        mat-fab
        color="accent"
        (click)="toggleSidenav()"
        matTooltip="Toggle applications sidebar"
      >
        <mat-icon>apps</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-container *ngIf="sidenavOpened$ | async"></ng-container>
